<section id="navigation">
	<div class="navigatie__container">
	<nav>
		<div class="navigatie__left--container">
		<ul class="navigatie__left">
			<img src="" alt="Logo" class="">
			<a href="#over" class="navigatie__link">Over</a>
			<a href="#verhuur" class="navigatie__link">Verhuur</a>
			<a href="#evenementen" class="navigatie__link">Evenementen</a>
		</ul>
		</div>
		<div class="navigatie-right">
			<button>Contact</button>
		</div>
	</nav>
	</div>
</section>

<style>
	.navigatie__container {
		display: flex;
	}

	.navigatie__left--container {
	}

	.navigatie__left {
		display: flex;
		gap: 2rem;
	}

	.navigatie__link {
		text-decoration: none;
	}
</style>
